<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Table</title>
</head>
<body>
    <h1>User Data</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.link }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>